<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  .content{
      margin: 20% 0 0 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }
  input{
    margin: 0 15px 0 0;
  }

  .main{
    height: 80px;
  }
  
</style>

<main class="main">
  <form [formGroup]="emailForm">
  <div class="content">

    <input style="height: 32px" size="50x" placeholder="Enter Email" id="email" type="email" formControlName="email">
    <!-- <div *ngIf="emailForm.controls['email'].invalid && (emailForm.controls['email'].dirty || emailForm.controls['email'].touched)">
      <small *ngIf="emailForm.controls['email'].errors?.required">Email is required.</small>
      <small *ngIf="emailForm.controls['email'].errors?.email">Invalid email format.</small>
    </div> -->
    <button (click)="getCode()" type="submit"  style="background-color: red; border-color: black; border-radius: 1px; height: 40px ; width: 90px; cursor: pointer;">Get Code</button>
    <br>
  </div>
  <div style="height: 32px; display:flex; justify-content: center; margin-top: 20px;">
    <input style="height: 32px; width: 250px; text-align: center; " [value]="code"  type="text" size="50x"  readonly>
  
    <!-- <h1 style="color: aliceblue;">{{code}}</h1> -->
  </div>
</form>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
